.navbar {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  margin-bottom: 0;
  background-color: transparent;
  background: transparent;
  border: 0;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: #788D9E;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
}

.navbar-nav {
  text-transform: uppercase;
  font-size: 12px;
}

.navbar-color {
  background-color: #232c39;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.navbar-transparent {
  background-color: transparent;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}